In [22]:
import glob, os
import pandas as pd
import xlrd

In [23]:
path = 'C:/Users/WB459082/Documents/Andres/TARIFAS/tariffs'
sheet_names = ['ALL IN', 'CMA', 'COSCO', 'HBS', 'HPL','HPL spot','MSC 21days','MSC 30days', 'NAC', 'ONE', 'spot']
os.listdir(path)

['TARIFAS 01 ENERO-07-14-2019.xls',
 'TARIFAS 01 ENERO-15-31-2019.xls',
 'TARIFAS 01 ENERO-19-31-2019.xls',
 'TARIFAS 02 FEBRERO 1-28.xls',
 'TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls',
 'TARIFAS 02 FEBRERO-18-28-2019.xls',
 'TARIFAS 03 MARZO 04-14 2019.xls',
 'TARIFAS 03 MARZO 09-14 2019.xls',
 'TARIFAS 03 MARZO 15-31 MARZO 2019.xls',
 'TARIFAS 03 MARZO 25-31 2019.xls',
 'TARIFAS 04 ABRIL 01-14 2019.xls',
 'TARIFAS 04 ABRIL 01-14.2 2019.xls',
 'TARIFAS 04 ABRIL 08-14 2019.xls',
 'TARIFAS 04 ABRIL 15-30-2019.xls',
 'TARIFAS 04 ABRIL 22-30-2019.2.xls',
 'TARIFAS 05 MAYO  23-02 JUNIO 2019.xls',
 'TARIFAS 05 MAYO 01-14-2019.xls',
 'TARIFAS 05 MAYO 18-02 JUNIO 2019.xls',
 'TARIFAS 05 MAYO 23-02 JUNIO 2019.xls',
 'TARIFAS 06 JUNIO-03-14-2019.xls',
 'TARIFAS 06 JUNIO-08-14-2019.xls',
 'TARIFAS 06 JUNIO-17-30-2019.xls',
 'TARIFAS 07 JULIO-04-14-2019.xls',
 'TARIFAS 07 JULIO-19-22-2019.xls',
 'TARIFAS 07 JULIO-23-30-2019.xls',
 'TARIFAS 08 AGOSTO-01-11-2019.xls',
 'TARIFAS 08 AGOSTO-12-25-2019.xls',
 'TARIFAS 08 AGOSTO-26-01-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-01-08-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-09-15-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-16-22-2019.xls',
 'TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls',
 'TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls',
 'TARIFAS 10 OCTUBRE-09 OCTUBRE.xls',
 'TARIFAS 10 OCTUBRE-20-27-2019.xls',
 'TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls',
 'TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE.2-2019.xls',
 'TARIFAS 11 NOVIEMBRE-11-24-2019.xls',
 'TARIFAS 11 NOVIEMBRE-15-24-2019.xls',
 'TARIFAS 11 NOVIEMBRE-18-24-2019.xls',
 'TARIFAS 11 NOVIEMBRE-25-30-2019.xls',
 'TARIFAS 12 DICIEMBRE-01-08-2019.xls',
 'TARIFAS 12 DICIEMBRE-05-08-2019.xls']

In [24]:
for file in os.listdir(path):
    if file.endswith(".xls"):
        xl_workbook = xlrd.open_workbook(path + "/" + file)
        print(file,xl_workbook.sheet_names(), sep="\t")
        #for sheet in xl_workbook.sheet_names():
            #print(sheet)
            #xl_sheet = xl_workbook.sheet_by_name(sheet)

TARIFAS 01 ENERO-07-14-2019.xls	['NAC ', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS', 'HPL']
TARIFAS 01 ENERO-15-31-2019.xls	['NAC ', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 01 ENERO-19-31-2019.xls	['NAC ', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 02 FEBRERO 1-28.xls	['ALL IN', 'NAC ', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls	['ALL IN', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'NAC ', 'ONE', 'HBS']
TARIFAS 02 FEBRERO-18-28-2019.xls	['ALL IN', 'HPL', 'MSC 21days', 'MSC 30days', 'COSCO', 'NAC ', 'ONE', 'HBS']
TARIFAS 03 MARZO 04-14 2019.xls	['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 03 MARZO 09-14 2019.xls	['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 03 MARZO 15-31 MARZO 2019.xls	['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 03 MARZO 25-31 2019.xls	['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 04 ABRIL 01-14 2019.xls	['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 04 ABRIL 01-14.2 2019.xls	['ALL IN', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'NAC ', 'ONE', 'HBS']
TARIFAS 04 ABRIL 08-14 2019.xls	['ALL IN', 'NAC ', 'MSC 21days', 'MSC 30days', 'COSCO', 'HPL', 'ONE', 'HBS']
TARIFAS 04 ABRIL 15-30-2019.xls	['ALL IN', 'NAC ', 'HPL spot', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS']
TARIFAS 04 ABRIL 22-30-2019.2.xls	['NAC ', 'HPL spot', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS', 'ALL IN']
TARIFAS 05 MAYO  23-02 JUNIO 2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 05 MAYO 01-14-2019.xls	['NAC ', 'HPL spot', 'MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HBS', 'ALL IN']
TARIFAS 05 MAYO 18-02 JUNIO 2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 05 MAYO 23-02 JUNIO 2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 06 JUNIO-03-14-2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'HPL spot', 'HBS', 'NAC ', 'ALL IN']
TARIFAS 06 JUNIO-08-14-2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS', 'ALL IN']
TARIFAS 06 JUNIO-17-30-2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS', 'ALL IN']
TARIFAS 07 JULIO-04-14-2019.xls	['MSC 21days', 'MSC 30days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS', 'ALL IN']
TARIFAS 07 JULIO-19-22-2019.xls	['MSC 21days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS']
TARIFAS 07 JULIO-23-30-2019.xls	['MSC 21days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS']
TARIFAS 08 AGOSTO-01-11-2019.xls	['MSC 21days', 'COSCO', 'ONE', 'CMA', 'HPL spot', 'HBS']
TARIFAS 08 AGOSTO-12-25-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 08 AGOSTO-26-01-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-01-08-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-09-15-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-16-22-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-09 OCTUBRE.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-20-27-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE.2-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 11 NOVIEMBRE-11-24-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 11 NOVIEMBRE-15-24-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 11 NOVIEMBRE-18-24-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 11 NOVIEMBRE-25-30-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 12 DICIEMBRE-01-08-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']
TARIFAS 12 DICIEMBRE-05-08-2019.xls	['spot', 'MSC 21days', 'COSCO', 'ONE', 'HPL spot', 'HBS']

In [25]:
# Replace a set of multiple sub strings with a new string in main string.

def replaceMultiple(mainString, toBeReplaces, newString):
    # Iterate over the strings to be replaced
    for elem in toBeReplaces :
        # Check if string is in the main string
        if elem in mainString :
            # Replace the string
            mainString = mainString.replace(elem, newString)
    
    return  mainString

# Validity dates

In [4]:
remove = ['2018', '2019', 'th']
head = "File\tSheet\tStart date\tEnd date"
print(head)
for sheet in sheet_names:
    row = 2
    if sheet == 'spot':
        row=12
    for file in os.listdir(path):
        if file.endswith(".xls"):
            xl_workbook = xlrd.open_workbook(file)
            xl_sheet = xl_workbook.sheet_by_name(sheet)
            start = xl_sheet.row(row)[0].value.split(" to ")[0].split("from ",1)[1].replace('th','').replace(',',' ').replace('2018','').replace('2019','')
            end = xl_sheet.row(row)[0].value.split(" to ")[1].split("by",1)[0].replace('th','').replace(',',' ').replace('2018','').replace('2019','')
            start2 = replaceMultiple(xl_sheet.row(row)[0].value.split(" to ")[0].split("by",1)[0],remove, "").replace(',',' ')
            end2 = replaceMultiple(xl_sheet.row(row)[0].value.split(" to ")[1].split("by",1)[0],remove, "").replace(',',' ')
            print(file,sheet,start + " 2019",end + " 2019",sep="\t \t")

File	Sheet	Start date	End date
MEXICO RATE-als-update 2018.xls	 	spot	 	25 Nov 2019	 	30 Nov  2019
MEXICO RATE-als-update 2018_1.xls	 	spot	 	18 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_2.xls	 	spot	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_3.xls	 	spot	 	28 Oct 2019	 	10 Nov  2019
MEXICO RATE-als-update 2018_4.xls	 	spot	 	23 Sep 2019	 	6 Oct  2019
MEXICO RATE-als-update 2018.xls	 	MSC 21days	 	25 Nov 2019	 	30 Nov 2019
MEXICO RATE-als-update 2018_1.xls	 	MSC 21days	 	18 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_2.xls	 	MSC 21days	 	11 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_3.xls	 	MSC 21days	 	28 Oct 2019	 	10 Nov 2019
MEXICO RATE-als-update 2018_4.xls	 	MSC 21days	 	23 Sep 2019	 	6 Oct 2019
MEXICO RATE-als-update 2018.xls	 	COSCO	 	25 Nov 2019	 	30 Nov 2019
MEXICO RATE-als-update 2018_1.xls	 	COSCO	 	15 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_2.xls	 	COSCO	 	11 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_3.xls	 	COSCO	 	28 Oct 2019	 	10 Nov 2019
MEXICO RATE-als-update 2018_4.xls	 	COSCO	 	23 Sep 2019	 	6 Oct 2019
MEXICO RATE-als-update 2018.xls	 	ONE	 	25 Nov 2019	 	30 Nov 2019
MEXICO RATE-als-update 2018_1.xls	 	ONE	 	15 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_2.xls	 	ONE	 	11 Nov 2019	 	24 Nov 2019
MEXICO RATE-als-update 2018_3.xls	 	ONE	 	11 Nov 2019	 	10 Nov 2019
MEXICO RATE-als-update 2018_4.xls	 	ONE	 	16 Sep 2019	 	22 Sep 2019
MEXICO RATE-als-update 2018.xls	 	HPL spot	 	15 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_1.xls	 	HPL spot	 	15 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_2.xls	 	HPL spot	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_3.xls	 	HPL spot	 	1 Jul 2019	 	7 Jul  2019
MEXICO RATE-als-update 2018_4.xls	 	HPL spot	 	1 Jul 2019	 	7 Jul  2019
MEXICO RATE-als-update 2018.xls	 	HBS	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_1.xls	 	HBS	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_2.xls	 	HBS	 	11 Nov 2019	 	24 Nov  2019
MEXICO RATE-als-update 2018_3.xls	 	HBS	 	3 Aug 2019	 	14 Aug  2019
MEXICO RATE-als-update 2018_4.xls	 	HBS	 	3 Aug 2019	 	14 Aug  2019

In [5]:
metadata = pd.read_excel('Validity Dates.xlsx', index_col=0)

# Import all

In [29]:
completeList = []

for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(path + "/" + file)
        for sheet in xls_file.sheet_names:
            data = xls_file.parse(sheet,skiprows=3)
            data['File'] = file
            data['Sheet'] = sheet
            completeList.append(data) 
            
appended_complete = pd.concat(completeList,sort=True)
appended_complete.to_excel(os.path.join(path, 'appended_complete.xlsx'))

In [30]:
appended_complete.columns

Index([      '20'GP',    '2019.2.1',   '2019.2.28',        '20GP',
             '40'GP',       '40'HC',        '40GP',        '40HQ',
             '40NOR',     'AMS C/F',       'COSCO',      'CY CLS',
         'Demurrage',         'ETD',         'FAK',        'File',
          'LOCATION',  'M.CITY R+T',         'OWS',         'POL',
           'POL/POD',      'REMARK',       'Sheet',         'T/T',
         'Transmode',          1440,          1480,      '1480.1',
        'Unnamed: 7',            21,            20,      'Direct',
                   0,         '0.1',         '0.2', 'Unnamed: 14',
          'BUC/ISPS',            90,           180,       '180.1',
       'Unnamed: 19',          1350,          1300,      '1300.1',
       'Unnamed: 23',   '2019.2.25',    '2019.3.3',          1040,
                1130,      '1130.1',           950,       '950.1',
             '950.2',   '2019.2.18',          1290,          1380,
            '1380.1',          1200,      '1200.1',      '1200.2',
          '2019.3.4',   '2019.3.14',           740,           830,
             '830.1',           650,       '650.1',       '650.2',
                 640,           730,       '730.1',           550,
             '550.1',       '550.2',   '2019.3.15',   '2019.3.31',
                1600,      '1600.1',      '1600.2',         '0.3',
               '0.4',         '0.5',      '1600.3',      '1600.4',
            '1600.5',      '40'Nor'],
      dtype='object')

In [31]:
appended_complete['Sheet'].value_counts()

ONE           4636
MSC 21days    4028
HBS           2924
COSCO         2330
MSC 30days    2225
HPL spot      2220
HPL            962
NAC            418
spot           255
ALL IN         100
CMA             90
Name: Sheet, dtype: int64

In [32]:
appended_complete['File'].value_counts()

TARIFAS 02 FEBRERO-18-28-2019.xls                535
TARIFAS 02 FEBRERO 25-03 MARZO 2019.xls          535
TARIFAS 04 ABRIL 01-14.2 2019.xls                535
TARIFAS 04 ABRIL 01-14 2019.xls                  535
TARIFAS 04 ABRIL 08-14 2019.xls                  535
TARIFAS 02 FEBRERO 1-28.xls                      535
TARIFAS 03 MARZO 04-14 2019.xls                  535
TARIFAS 03 MARZO 09-14 2019.xls                  535
TARIFAS 03 MARZO 25-31 2019.xls                  535
TARIFAS 03 MARZO 15-31 MARZO 2019.xls            535
TARIFAS 01 ENERO-15-31-2019.xls                  530
TARIFAS 01 ENERO-07-14-2019.xls                  530
TARIFAS 01 ENERO-19-31-2019.xls                  530
TARIFAS 04 ABRIL 15-30-2019.xls                  529
TARIFAS 05 MAYO 23-02 JUNIO 2019.xls             529
TARIFAS 05 MAYO  23-02 JUNIO 2019.xls            529
TARIFAS 04 ABRIL 22-30-2019.2.xls                529
TARIFAS 05 MAYO 01-14-2019.xls                   529
TARIFAS 06 JUNIO-03-14-2019.xls                  529
TARIFAS 05 MAYO 18-02 JUNIO 2019.xls             529
TARIFAS 06 JUNIO-08-14-2019.xls                  527
TARIFAS 06 JUNIO-17-30-2019.xls                  527
TARIFAS 07 JULIO-04-14-2019.xls                  499
TARIFAS 07 JULIO-23-30-2019.xls                  403
TARIFAS 07 JULIO-19-22-2019.xls                  403
TARIFAS 08 AGOSTO-01-11-2019.xls                 403
TARIFAS 10 OCTUBRE-20-27-2019.xls                399
TARIFAS 10 OCTUBRE-09 OCTUBRE.xls                399
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE-2019.xls      399
TARIFAS 09 SEPTIEMBRE-16-22-2019.xls             399
TARIFAS 09 SEPTIEMBRE-29-13-OCTUBRE.xls          399
TARIFAS 11 NOVIEMBRE-11-24-2019.xls              399
TARIFAS 08 AGOSTO-26-01-2019.xls                 399
TARIFAS 09 SEPTIEMBRE-01-08-2019.xls             399
TARIFAS 09 SEPTIEMBRE-23-06 OCTUBRE2019.xls      399
TARIFAS 11 NOVIEMBRE-25-30-2019.xls              399
TARIFAS 09 SEPTIEMBRE-09-15-2019.xls             399
TARIFAS 11 NOVIEMBRE-18-24-2019.xls              399
TARIFAS 11 NOVIEMBRE-15-24-2019.xls              399
TARIFAS 08 AGOSTO-12-25-2019.xls                 399
TARIFAS 10 OCTUBRE-28-10-NOVIEMBRE.2-2019.xls    399
TARIFAS 12 DICIEMBRE-05-08-2019.xls              399
TARIFAS 12 DICIEMBRE-01-08-2019.xls              399
Name: File, dtype: int64

In [33]:
appended_complete.describe(include='all')

,20'GP,2019.2.1,2019.2.28,20GP,40'GP,40'HC,40GP,40HQ,40NOR,AMS C/F,...,1600,1600.1,1600.2,0.3,0.4,0.5,1600.3,1600.4,1600.5,40'Nor
count,259.000000,5,10,16569.0,259.000000,259.000000,16549.0,16885.0,1153.0,3341,...,75.00000,75.000000,75.000000,75.000000,75.000000,75.000000,60.000000,60.000000,60.000000,4.00000
unique,NaN,3,2,610.0,NaN,NaN,597.0,571.0,31.0,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2019.2.1,2019.2.28,2000.0,NaN,NaN,1900.0,1900.0,1500.0,/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3,8,886.0,NaN,NaN,979.0,979.0,165.0,860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1788.880309,NaN,NaN,NaN,1917.683398,1917.683398,NaN,NaN,NaN,NaN,...,1317.60000,1329.600000,1329.600000,48.200000,90.800000,90.800000,1584.250000,1543.500000,1543.500000,1300.00000
std,352.160141,NaN,NaN,NaN,372.844503,372.844503,NaN,NaN,NaN,NaN,...,652.16094,645.926299,645.926299,55.446834,106.682276,106.682276,93.894211,155.498379,155.498379,408.24829
min,1200.000000,NaN,NaN,NaN,1100.000000,1100.000000,NaN,NaN,NaN,NaN,...,25.00000,50.000000,50.000000,13.000000,13.000000,13.000000,1450.000000,1300.000000,1300.000000,900.00000
25%,1587.500000,NaN,NaN,NaN,1650.000000,1650.000000,NaN,NaN,NaN,NaN,...,1605.00000,1601.000000,1601.000000,20.000000,40.000000,40.000000,1543.750000,1487.500000,1487.500000,975.00000
50%,1800.000000,NaN,NaN,NaN,1900.000000,1900.000000,NaN,NaN,NaN,NaN,...,1608.00000,1610.000000,1610.000000,25.000000,50.000000,50.000000,1587.500000,1575.000000,1575.000000,1300.00000
75%,1950.000000,NaN,NaN,NaN,2112.500000,2112.500000,NaN,NaN,NaN,NaN,...,1625.00000,1650.000000,1650.000000,25.000000,50.000000,50.000000,1628.000000,1631.000000,1631.000000,1625.00000
max,2900.000000,NaN,NaN,NaN,3000.000000,3000.000000,NaN,NaN,NaN,NaN,...,1725.00000,1737.000000,1737.000000,158.000000,301.000000,301.000000,1712.000000,1724.000000,1724.000000,1700.00000

# Import spot

In [237]:
sheet = 'spot'
spotList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        spotList.append(data) 
appended_spot = pd.concat(spotList,sort=True)
appended_spot = appended_spot[appended_spot.iloc[:,1].notnull()]
appended_spot.to_excel(os.path.join(path, 'appended_spot.xlsx'))

# Import MSC 21days

In [238]:
sheet = 'MSC 21days'
msc21daysList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        msc21daysList.append(data) 
appended_msc21days = pd.concat(msc21daysList,sort=True)
appended_msc21days = appended_msc21days[appended_msc21days.iloc[:,1].notnull()]
appended_msc21days.to_excel(os.path.join(path, 'appended_msc21days.xlsx'))

# Import COSCO

In [239]:
sheet = 'COSCO'
coscoList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        coscoList.append(data) 
appended_cosco = pd.concat(coscoList,sort=True)
appended_cosco = appended_cosco[appended_cosco.iloc[:,1].notnull()]
appended_cosco.to_excel(os.path.join(path, 'appended_cosco.xlsx'))

# Import ONE

In [240]:
sheet = 'ONE'
oneList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        oneList.append(data) 
appended_one = pd.concat(oneList,sort=True)
appended_one = appended_one[appended_one.iloc[:,1].notnull()]
appended_one.to_excel(os.path.join(path, 'appended_one.xlsx'))

# Import HPL Spot

In [241]:
sheet = 'HPL spot'
hplspotList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        hplspotList.append(data) 
appended_hplspot = pd.concat(hplspotList,sort=True)
appended_hplspot = appended_hplspot[appended_hplspot.iloc[:,1].notnull()]
appended_hplspot.to_excel(os.path.join(path, 'appended_hplspot.xlsx'))

# Import HBS

In [242]:
sheet = 'HBS'
hbsList = []
for file in os.listdir(path):
    if file.endswith(".xls"):
        xls_file = pd.ExcelFile(file)
        data = xls_file.parse(sheet,skiprows=3)
        data['file'] = file
        data['sheet'] = sheet
        hbsList.append(data) 
appended_hbs = pd.concat(hbsList,sort=True)
appended_hbs = appended_hbs[appended_hbs.iloc[:,1].notnull()]
appended_hbs.to_excel(os.path.join(path, 'appended_hbs.xlsx'))